{% extends 'base.html' %}
{% block cabecera %}

{% endblock %}
{% block content %}
<div class="span7 offset3">
	<form id="formSearch" method="POST" action="buscar/">
		{% csrf_token %}
				<p>Buscar por los siguientes criterios:</p>
				<input type="hidden" id="search_cat" name="search_cat" value="b_libros">
				<input type="hidden" id="search_option0" name="search_option" value="s_simple">
				<label class="checkbox inline">
				<input type="radio" id="query_type_1" name="query_type" value="title" checked=""> Título
				</label><label class="checkbox inline">
				<input type="radio" id="query_type_1" name="query_type" value="author"> Autor
				</label><label class="checkbox inline">
				<input type="radio" id="query_type_2" name="query_type" value="tema"> Tema
				</label>
				<label class="checkbox inline">
					  <input type="radio" id="query_type_3" name="query_type" value="b_all">Todos los campos
				</label>

				<div class="clear"></div>
				<div>
                <div id="div_tituloSearch" class="contenedor-caja-buscador-1">
                        <input name="fieldSearch" class="span12" type="text"  autocomplete="off" >
                </div>
				</div>
                <button class="btn" type="submint">Buscar</button><input class="btn" type="button" value="Limpiar">

				<div class="clear"></div>
				<div id="msj_query_type">
				<span>(Puede omitir las tildes y/o mayúsculas)</span>
				<span id="search-advanced" data-original-title="" title=""><a href="#search-advanced"  title="Clik aquí para una búsqueda avanzada">Búsqueda avanzada</a></span>
				</div>
	</form>
</div>
{% endblock %}